<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDW4fAJJb0hyNXEL9V0L_l0-mO4JXtp8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>297083073031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.includejoe.jobpulse.jobpulse</string>
	<key>PROJECT_ID</key>
	<string>devopportunity-8c70c</string>
	<key>STORAGE_BUCKET</key>
	<string>devopportunity-8c70c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297083073031:ios:df9041d45356d59be070a2</string>
</dict>
</plist>